@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
  --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
  --Grayish-Blue: hsl(212, 23%, 69%);
  --ight-Grayish-Blue: hsl(210, 46%, 95%);

  --Fontsize: 13px;
}
img {
  width: 100%;
}
body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Manrope", sans-serif;
}
main {
  width: 20rem;
  display: grid;
  row-gap: 1rem;
  font-size: var(--Fontsize);
  color: var(--Grayish-Blue);
}
.bg-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.pt-2 {
  padding: 0.7rem 1.5rem;
  display: grid;
  row-gap: 1rem;
  & header {
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--Very-Dark-Grayish-Blue);
  }
}

article {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  transition: all linear 0.5s;

  & h4 {
    color: var(--Very-Dark-Grayish-Blue);
  }
  & img {
    width: 40px;
    border-radius: 50%;
  }
  & .mod {
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: var(--Grayish-Blue);
  }
  & .mod:hover {
    background-color: aqua;
    color: aqua;
    border-radius: 50%;
  }
}
.container {
  display: flex;
  justify-content: space-between;
}

footer {
  width: 20rem;
  position: absolute;
  padding: 1rem 1.5rem;
  display: none;
  font-size: 0.887rem;
  text-transform: uppercase;
  align-items: center;
  transform: translateY(-3.3rem);
  justify-content: space-between;
  background: var(--Very-Dark-Grayish-Blue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all linear 0.5s;
  & div {
    display: flex;
    align-items: center;
    column-gap: 1rem;
  }
  .share {
    width: 30px;
    height: 30px;
    padding: 7px;
    border-radius: 50%;
    background-color: var(--ight-Grayish-Blue);
  }
}
.mod {
  width: 25px;
  padding: 3px;
}
.mod:hover {
  background-color: aqua;
  color: aqua;
  border-radius: 50%;
}

@media screen and (min-width: 800px) {
  main {
    width: 45rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 0 5px rgba(0 0 0 / 0.5);
    background-color: white;
    border-radius: 10px;
    & .bg-img {
      width: 20rem;
      border-top-right-radius: 0px;
    }
  }
  .pt-2 {
    height: 16rem;
    font-size: 0.89rem;
    & .mod {
      background-color: rgb(252, 255, 253);
    }
  }
  footer {
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 88%,
      54% 89%,
      50% 100%,
      46% 89%,
      0 89%
    );
    width: 10rem;
    transform: translate(18rem, -5.5rem);
    padding: 10px 15px;
    font-size: 0.6rem;
    border-radius: 8px;
    & .mod {
      width: 15px;
    }
    & .share {
      display: none;
    }
  }
}
.show {
  display: flex;
}
